@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h2>Credits and attributions</h2>
<p>
    Logo and thumbnail image from <a href="https://www.vecteezy.com/free-vector/vector">
        Vectors by Vecteezy
    </a>. No copyright infrigment is intended. The image is being
    use here for educational purposes.
</p>

<p>Copy right usage allowed.</p>

<img src="~/img/Copyright-Protected-work.png" alt="copy right image on page" />
